server:
  forward-headers-strategy: framework

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}
      ssl:
        enabled: false
      timeout: 2s

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
    connect-timeout-ms: 2000
    read-timeout-ms: 4000
